<div class="row">
	<div class="col-sm-4">
		{{#each letter in alphabet}}
			<button {{action 'checkLetter' letter.value}} {{bind-attr id="letter.id"}} class="btn btn-primary letters" {{bind-attr disabled=letter.isClicked}}>{{letter.value}}</button>
		{{/each}}
		<div class="row">
			<div class="col-sm-12" style="text-align:center;">
				{{#with guesses}}
				<span id="guesses" {{bind-attr class=":label class"}}>Guesses Left <strong>{{left}}</strong></span>
				{{/with}}
			</div>
		</div>
	</div>
	<div class="col-sm-8">
		<div id="word-wrapper">
			{{#each letter in word}}
				<div class="underline">
					<span {{bind-attr class="letter.isFound::hide-letter"}}>{{letter.value}}</span>
				</div>
			{{/each}}
		</div>
	</div>
</div>